<html>
    <head>
        <title>Add Product</title>
    </head>
    <body>
        <form action="/add-product" method="post">
            <label for="name">Name</label>
            <input id="name" name="name">
            <label for="image">image</label>
            <input id="image" name="image">
            <label for="price">Price</label>
            <input id="price" name="price">      
            <label for="section">Section</label>
            <select id="section" name="section">
                <option value="Music">Music</option>
                <option value="Merch">Merch</option>
            </select>
            <button type="submit" value="Submit">Submit</button>      
        </form>
    </body>
</html>