<html>
    <head>
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/home.css">
        <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <div class="head">
                <div><a href="/home">HOME</a></div>
                <div><a href="/store">STORE</a></div>
                <div><a href="/about">ABOUT</a></div>
                <div><a href="/order">ORDER</a></div>
            </div> 
            <div class="generic">
                <h1>The Generic</h1>
                <button>Get our Latest Album</button>
            </div>
        </header>
        <section class="tours">
            <div>Tour</div>
            <div class="tour">
                <div class="date">2 Jun</div>
                <div class="place">Mumbai</div>
                <div class="venue">Chapter 12, Colaba</div>
                <button>Buy Tickets</button>
            </div>
            <div class="tour">
                <div class="date">7 Jun</div>
                <div class="place">Jaipur</div>
                <div class="venue">Radisson Hotel</div>
                <button>Buy Tickets</button>
            </div>
            <div class="tour">
                <div class="date">12 Jun</div>
                <div class="place">Delhi</div>
                <div class="venue">Coke Studio,Connaught place</div>
                <button>Buy Tickets</button>
            </div>
            <div class="tour">
                <div class="date">17 Jun</div>
                <div class="place">Kolkata</div>
                <div class="venue">Taj Resort</div>
                <button>Buy Tickets</button>
            </div>
            <div class="tour">
                <div class="date">22 Jun</div>
                <div class="place">Hyderabad</div>
                <div class="venue">The Lalit Hotel</div>
                <button>Buy Tickets</button>
            </div>
            <div class="tour">
                <div class="date">27 Jun</div>
                <div class="place">Bangalore</div>
                <div class="venue">Indigo Xp</div>
                <button>Buy Tickets</button>
            </div>
        </section>

        <footer>
            <h2>The Generic</h2>
            <div>
                <a href="#" class="fa fa-youtube"></a>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
            </div>
        </footer>
    </body>
</html>